<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>홈 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 class="mt-5 text-center">홈 페이지에 오신 것을 환영합니다!</h1>
        <p class="lead text-center">이 웹사이트는 상업 시스템의 기본 예제입니다.</p>
        <hr class="my-4">
        <p class="text-center">더 많은 내용을 확인해 보세요!</p>
        <div class="text-center mb-4">
            <a class="btn btn-primary btn-lg" th:href="@{/services}" role="button">서비스 보기</a>
        </div>

        <!-- 상품 테이블 -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">재고</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상세보기</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>상품 A</td>
                    <td>₩10,000</td>
                    <td>50</td>
                    <td>전자제품</td>
                    <td><a class="btn btn-sm btn-primary" href="#">보기</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>상품 B</td>
                    <td>₩20,000</td>
                    <td>30</td>
                    <td>가전</td>
                    <td><a class="btn btn-sm btn-primary" href="#">보기</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>상품 C</td>
                    <td>₩15,000</td>
                    <td>20</td>
                    <td>가구</td>
                    <td><a class="btn btn-sm btn-primary" href="#">보기</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
