<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>로그인</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mt-5 text-center">로그인</h1>
                <form th:action="@{/login}" method="post" class="mt-4">
                    <div class="mb-3">
                        <label for="username" class="form-label">사용자 이름</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="사용자 이름을 입력하세요" required/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요" required/>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">로그인</button>
                        <a class="btn btn-secondary" th:href="@{/register}">회원가입</a>
                        <a class="btn btn-link" th:href="@{/forgot-username}">아이디 찾기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
